<!--Site header/Jumbotron-->
{{> articles/header-block}} 

<!--Scraped articles go here-->
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Saved articles</h2>
            <!--scraped articles go here-->
            </div>
    </div>
</div>

<!--Footer-->
{{> articles/footer-block}} 