<!--Saved articles-->
{{#each articles}}
    <div class="card border-success bg-success mt-5">
        <div class="card-body">
            <h5 class="card-title article-title">{{this.title}}</h5>
            <p class="card-text article-summary">{{this.summary}}</p>
            <img class="img-fluid article-img" src="{{this.img}}">
            <br>
            <button class="btn btn-primary btn-dark mt-4 remove-saved-btn" data-id="{{this._id}}">Remove from saved</button></a>
            <button class="btn btn-dark ml-3 mt-4 add-notes-btn">Article notes</button>
        </div>
    </div>
{{/each}}