<!--Delete article confirmation modal-->
<div class="modal" tabindex="-1" role="dialog" id="confirm-delete-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-white">
        <p>If you delete this article, you will no longer be able to view the article from this site.</p>
        <p>Note that deleting the article from this site does not delete the original article from <a href="http://www.espn.com/mens-college-basketball/" target="_blank">http://www.espn.com/mens-college-basketball/</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="delete-confirm-button">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel-delete-button">Cancel</button>
      </div>
    </div>
  </div>
</div>