<!--Footer-->
<div class="row mt-5">
    <div class="col-md-12">
      <div class="card footer bg-dark">
        <div class="container">
            <div class="card-body footer-body text-white">
                <h5 class="card-title text-white">BasketballScraper</h5>
                <a href="https://github.com/philipstubbs13/NewsScrape" class="btn social-btn mr-2 text-white" target="_blank">GitHub Repo</a>
                <a href="https://www.linkedin.com/in/philipjstubbs/" class="btn social-btn text-white" target="_blank">LinkedIn</a>
                <br><br>
            </div>
        </div>
      </div>
    </div>
</div>