<!--App header/jumbotron for home page-->
<div class="jumbotron text-center bg-success text-white">
    <h1 class="display-4" id="app-title">BasketballScraper</h1>
    <h5>Your news for all things college basketball. <br>March might be over but the madness isn't.</h5>
</div>