<!--App header/jumbotron-->
<div class="jumbotron text-center bg-success text-white">
    <h1 class="display-4" id="app-title">NCAAM Scraper</h1>
    <button class="btn btn-dark" id="scrape-articles">Scrape new articles</button>
    <a href="saved"><button class="btn btn-dark ml-4" id="saved-articles">See saved articles</button></a>
</div>