.card-text {
    color: black !important;
}

.card-title {
    color: white !important;
}

.article-img{
    max-width: 320px;
}

.article-summary {
    font-size: 18px;
}

.jumbotron {
    background-image: url("/assets/images/background.jpg");
    background-repeat: no repeat;
    background-size: cover;
}